.parallax_Effect_Creator
{
    background-image: url('../Images/Screenshot 2024-04-11 162922.png');
}
#top_Side_By_Side
{
    margin-top:0vh;
}
.box_Image
{
    position:absolute;
    margin:0 0 0 0;
    width:100%;
}
